# Ignore everything by default.
/*
/.*

# Keep this ignore file.
!.gitignore
!/*.md
!/themes/
/themes/*
!/themes/industriesalon/
!/themes/industriesalon/**

# Keep all plugins.
!/plugins/
!/plugins/**

# Ignore editor lock noise.
*~lock*
__pycache__/
*.pyc
