<!-- wp:template-part {"slug":"header","theme":"industriesalon","tagName":"header"} /-->

<!-- wp:group {"tagName":"main","className":"iss-post-page","layout":{"type":"default"}} -->
<main class="wp-block-group iss-post-page"><!-- wp:group {"tagName":"section","className":"iss-post-intro section","layout":{"type":"default"}} -->
<section class="wp-block-group iss-post-intro section"><!-- wp:group {"className":"iss-container","layout":{"type":"default"}} -->
<div class="wp-block-group iss-container"><!-- wp:columns {"verticalAlignment":"top","className":"iss-post-intro__content-grid"} -->
<div class="wp-block-columns are-vertically-aligned-top iss-post-intro__content-grid"><!-- wp:column {"verticalAlignment":"top","className":"iss-post-intro__media-col"} -->
<div class="wp-block-column is-vertically-aligned-top iss-post-intro__media-col"><!-- wp:group {"className":"iss-post-intro__media iss-media-card iss-media-card\u002d\u002dcover iss-media-card\u002d\u002dred","layout":{"type":"default"}} -->
<div class="wp-block-group iss-post-intro__media iss-media-card iss-media-card--cover iss-media-card--red"><!-- wp:post-featured-image {"scale":"contain"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:column -->

<!-- wp:column {"verticalAlignment":"top","className":"iss-post-intro__copy-col"} -->
<div class="wp-block-column is-vertically-aligned-top iss-post-intro__copy-col"><!-- wp:group {"className":"iss-post-intro__copy iss-heading iss-heading\u002d\u002duncaged","layout":{"type":"default"}} -->
<div class="wp-block-group iss-post-intro__copy iss-heading iss-heading--uncaged"><!-- wp:paragraph {"className":"iss-kicker iss-kicker\u002d\u002dcompact"} -->
<p class="iss-kicker iss-kicker--compact">Bestand</p>
<!-- /wp:paragraph -->

<!-- wp:post-title {"level":1,"className":"iss-post-intro__title iss-heading__title"} /-->

<!-- wp:post-excerpt {"className":"iss-heading__text"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"className":"iss-post-body__content iss-post-intro__body","layout":{"type":"default"}} -->
<div class="wp-block-group iss-post-body__content iss-post-intro__body"><!-- wp:post-content /--></div>
<!-- /wp:group --></div>
<!-- /wp:column --></div>
<!-- /wp:columns --></div>
<!-- /wp:group --></section>
<!-- /wp:group --></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"industriesalon","tagName":"footer"} /-->
